# Editors
*.sublime-project
*.sublime-workspace
*.swp

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.tgz
*.zip
index-sizes
!cmd/index-sizes/

# Test binary, build with `go test -c`
*.test
*.data
*.idx
*.bench

# Output of the go coverage tool
*.out
